---
layout: default
---

<div class="bg">

  <div class="icon skills-icon" data-dialog="skills-dialog">
    <i class="fa fa-file-code-o  fa-2x" aria-hidden="true"></i>
    <span>Skills.txt</span>
  </div>

  <div class="icon clients-icon" data-dialog="clients-dialog">
      <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
      <span>Clients</span>
  </div>

  <div class="icon blog-icon" data-dialog="blog-dialog">
    <i class="fa fa-book fa-2x" aria-hidden="true"></i>
    <span>Blog</span>
  </div>




  <iframe src="https://acav.beatstore.co/htmlwidget2" width="100%" height="650px" frameborder="no" border="0" scrolling="yes"></iframe>

  <div class="ui-widget-content dialog skills-dialog" title="Skills">
    <h4>PHP</h4>
    <h4>HTML, CSS</h4>
    <h4>WordPress Plugin & Theme Development</h4>
    <h4>Laravel</h4>
    <h4>Javascript + jQuery</h4>
    <h4>Meteor.js</h4>
  </div>


  <div class="ui-widget-content dialog clients-dialog" title="Clients">
    <li>Codeable.io</li>
    <li>Human Made</li>
    <li>USM interactive</li>
    <li>Mount Mansfield Media</li>
    <li>Above The Clouds</li>
  </div>

  <div class="ui-widget-content dialog blog-dialog" title="Blog">
    {% for post in site.posts %}
      <article class="condensed-blog-post">
        <time>{{post.date | date: '%B %d, %Y'}}</time>
        <h2>{{post.title}}</h2>
        {{post.content | markdownify}}
      </article>
    {% endfor %}
  </div>

  <div class="ui-widget-content dialog musicplayer-dialog" title="Music">

  </div>

  <div class="container align-right">

    {% if site.github_username %}
      <!--<h4><a target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a></h4>-->
    {% endif %}

  </div>


  <div class="codeable-direct">
    <a href="https://codeable.io/?ref=aLsE2">
      <img src='https://referoo.co/creatives/12/asset.png' />
    </a>
  </div>


  <div class="popup">
    <div class="close-me">
      x
    </div>
    <div class="container align-left">
        <h1>Contact Me</h1>
      <form class="email-me" action="http://formspree.io/alexcavender@gmail.com" method="POST">

          <input name="name" type="text" placeholder="Name" required>
          <input name="_replyto" type="email" placeholder="Email address" required>
          <textarea name="body" rows="5" cols="20" placeholder="Message" required></textarea>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="send" value="Send">
      </form>
    </div>
  </div>
</div>

<script>
    (function(c,o,d,e,a,b,l){c['CodeableObject']=a;c[a]=c[a]||function(){
    (c[a].q=c[a].q||[]).push(arguments)},c[a].l=1*new Date();b=o.createElement(d),
    l=o.getElementsByTagName(d)[0];b.async=1;b.src=e;l.parentNode.insertBefore(b,l)
    })(window,document,'script','https://referoo.co/assets/form.js','cdbl');

    cdbl('shortcode', 'enTzq');
    cdbl('render', 'codeable-form');
</script>
