---
layout: default
---

<div class="bg">

  <div class="icon skills-icon">
    <i class="fa fa-file-code-o  fa-3x" aria-hidden="true"></i>
    <span>Skills.txt</span>
  </div>

  <div class="ui-widget-content dialog skills-dialog" title="Skills">
    <h4>PHP</h4>
    <h4>WordPress</h4>
    <h4>Laravel</h4>
    <h4>Javascript + jQuery</h4>
    <h4>Meteor.js</h4>
  </div>
 
  <div class="container align-right">
    <!--<h1>Alex Cavender</h1>-->
    <!--<h2 class="web-dev">Web Developer</h2>-->

    {% if site.github_username %}
      <!--<h4><a target="_blank" href="https://github.com/{{ site.github_username }}">GitHub</a></h4>-->
    {% endif %}

    <!--<h2 class="contact-me"><a href="#">Contact Me</a></h2>-->

  </div>

  <div class="popup">
    <div class="close-me">
      x
    </div>
    <div class="container align-left">
        <h1>Contact Me</h1>
      <form class="email-me" action="http://formspree.io/alexcavender@gmail.com" method="POST">

          <input name="name" type="text" placeholder="Name" required>
          <input name="_replyto" type="email" placeholder="Email address" required>
          <textarea name="body" rows="5" cols="20" placeholder="Message" required></textarea>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="send" value="Send">
      </form>

    </div>
  </div>

</div>


<!-- Recent Work -->
<!-- USM interactive -->
<!-- Human Made, Freelance on THunderhead -->
<!-- BeatStore.co -->
<!-- enjoythemoment -->
<!-- ethomas -->


<div class="home">
  <div class="container">
  {% for post in site.posts %}
    <article class="single-blog-post">

      <time>{{post.date | date: '%B %d, %Y'}}</time>

      <h2>{{post.title}}</h2>

      {{post.content | markdownify}}

    </article>

  {% endfor %}

  </div>
</div>

