@import url(https://fonts.googleapis.com/css?family=Arimo);

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html {
    margin:0;
    padding:0;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    margin:0;
    padding:0px;
    
}
.bg {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: teal;
    min-height: 88vh;
    padding: 18px;
    a {
        color: #FFF;
    }
}

.container {
    max-width: 90%;
    position: relative;
    top: 7%;
    margin: 0 auto;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

a {
    transition: .2s;
    
    text-decoration: none;
}

h1,h2,h3,h4,span {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 54px;
    font-weight: 100;
    margin-bottom: 0;
}

h2 {
    font-size: 19px;
    font-weight: 100;
    margin-top: 3px;
    
    
    text-transform: uppercase;
}

h4 {
    transition:.2s;
    margin:4px;
}

a:hover, .contact-me:hover {
    margin-right: 3px;
    color: #A1AABD !important;
}


.dialog {
    h4, .ui-dialog-title {
        color: #111;
    }
}



.icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    color: rgb(226, 226, 226);

    i {
        margin-bottom: 8px;
    }

    &:hover {
        cursor: pointer;
    }

    &:active {
        background-color: rgba(200,200,200,0.2);
    }
}


.web-dev {
    letter-spacing: 12px;
    margin-bottom: 100px;
}

.contact-me {
    transition:.2s;
    margin-top: 80px;
    font-weight: 200;
}

.close-me {
    transition: .5s;
    cursor: pointer;
    position: absolute;
    z-index: 99999999;
    color: #FFF;
    right: 87px;
    top: 56px;
    font-family: sans-serif;
    font-size: 24px;
    border: 2px solid rgb(251, 251, 251);
    border-radius: 50%;
    width: 33px;
    text-align: center;
    height: 32px;
    &:hover {
        opacity: 0.6;
    }
}


.popup {
    transition: .5s;
    opacity:0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: rgba(0,0,0,0.78);
    padding: 15px;
    z-index: 99999;

}


.popup h1 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.success {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    color: #D1FDBD;
    font-size: 25px;
}
.success:before {
    content: '√';
    left: -5px;
    position: relative;
    bottom:5px;
}
.email-me {
    font-size: 20px;
    overflow: hidden;
}
.email-me input, textarea{
        padding: 8px;
        display: block;
        width: 100%;
        margin:0 auto;
        margin-bottom: 30px;
        font-size: 20px;
}


.email-me input[type="submit"] {
    transition: .2s;
    background-color: #6078AF;
    border: none;
    border-radius: 0;
    color: #FFF;
    margin:0 auto;
    width: 100%;
}

.email-me input[type="submit"]:hover {
    cursor: pointer;
    padding: 12px;
}

@media(max-width: 768px) {
    .popup h1 {
        font-size: 30px;
    }
}


.home {

    .container {
        
        max-width: 720px;
        padding: 40px 40px;
        * {
            margin-top: 16px;
            margin-bottom: 16px;
            letter-spacing: -.01em;
        }
    }

    p {
        font-size: 20px;
    }

    h2 {
        font-size: 36px;
    }

    img {
        max-width: 100%;
        margin: 0 auto;
        height: auto !important;

    }

    h1, h2 , h3 , h4 , h5 {
        color: #111;
        font-family: 'Helvetica Neue', 'Arial', sans-serif;
        text-transform: none;
        font-weight: bold;
    }
}


